* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Outfit", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #131313;
}

body>#__nuxt {
    height: 100%;
}

main {
    min-height: 86.5%;
}